.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-banner-container {
  display: flex;
  justify-content: center;
  border-bottom: solid 10px #c01f3f;
  width: 100%;
  background-color: #f0f0f0;
}

.search-banner {
  width: 80%;
}

/* MAIN SEARCH CONTAINER */
.search-main-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* MAIN SEARCH AREA LEFT SIDE */
.search-mainleft {
  width: 50%;
  padding-right: 15px;
}

.search-sortbar {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #f0f0f0;
  border: solid 1px #c01f3f;
  border-radius: 5px;
  margin: 5px 0;
}
.search-sortbar h2,
.search-mainright-title {
  color: #bf163d;
}

.search-sort-menu-section {
  display: flex;
}

.search-sort-menu-section h3,
.search-dropbtn h3 {
  color: #a1a2a4;
  align-self: center;
  font-size: 14pt;
}

/* DROPDOWN SORT BOX START */
/* Style The Dropdown Button */
.search-dropbtn {
  color: #a1a2a4;
  border: none;
  cursor: pointer;
  font-family: inherit;
  display: flex;
  align-items: center;
}

/* The container <div> - needed to position the dropdown content */
.search-dropdown {
  position: relative;
  display: inline-block;
  align-self: center;
  font-size: 10pt;
}

/* Dropdown Content (Hidden by Default) */
.search-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.search-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.search-dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.search-dropdown:hover .search-dropdown-content {
  display: block;
}

/* DROPDOWN SORT BOX END */

/* USE THE BELOW CODE FOR CREATING MENU POPUPS ON RIGHT SEARCH */
/* 
.search-sort-menu-section {
  color: #a1a2a4;
  align-self: center;
}
.search-sort-menu-section {
  position: relative;
}

.search-sort-menu-box {
  position: absolute;
  background-color: blue;
  top: 45px;
  right: 10px;
} */

.search-results-container {
  width: 100%;
}

/* SEARCH RESULTS */
.search-result-container {
  display: flex;
}

.search-result-pic-wrapper {
  width: 350px;
  margin-bottom: 50px;
  position: relative;
}
.search-result-pic {
  border: solid 2px #bf163d;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
/* Image Ribbon */
.search-result-pic-ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}

.search-result-pic-ribbon {
  font: bold 15px inherit;
  color: #fff;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  transform: rotate(-45deg);
  position: relative;
  padding-top: 25px;
  padding-bottom: 3px;
  left: -45px;
  top: -10px;
  width: 120px;
  background: linear-gradient(45deg, #bf163d, #e42f59);
  color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.hideRibbon {
  display: none;
}

/* MAIN SEARCH AREA RIGHT SIDE */
.search-mainright {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  width: 30%;
  border-bottom: solid 9px #c01f3f;
  height: fit-content;
}

.search-title-section {
  display: flex;
  align-items: center;
}

.search-form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
  align-items: center;
}

.search-price-field {
  width: 75px;
  border: solid 2px #fff;
}

.search-text-field {
  width: 150px;
  border: solid 2px #fff;
}

.search-form-submit {
  display: flex;
}

.search-sub-btn {
  padding: 10px;
  width: 130px;
  background-color: #bf163d;
  border: solid 1px #bf163d;
  color: white;
  font-family: inherit;
  border-radius: 5px;
  font-size: 12pt;
  cursor: pointer;
  margin: 30px;
}

.search-sub-btn:hover {
  background-color: #da2d55;
}

.search-result-title {
  font-weight: 700;
  text-align: center;
  padding-right: 50px;
  margin-bottom: 0px;
}
.search-result-info {
  padding: 0 20px;
  width: 100%;
}

.search-result-propertyType {
  color: #c01f3f;
  padding-right: 50px;
  text-align: center;
  font-size: 10pt;
  margin-top: 3px;
}

.search-refinements-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.icons {
  margin: 0;
}

.search-price {
  align-self: flex-end;
  color: #c01f3f;
  font-size: 15pt;
  font-weight: 700;
}

.datecolour {
  color: #c01f3f;
}

/* input[type="radio"]:after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}

input[type="radio"]:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #c01f3f;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
} */

label > input[type="radio"] {
  display: none;
}

label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}

label > input[type="radio"]:checked + *::before {
  background: radial-gradient(#c01f3f 0%, #c01f3f 40%, transparent 50%, transparent);
  border-color: #c01f3f;
}
label > input[type="radio"]:checked + * {
  color: #c01f3f;
}

label > h2 {
  color: black !important ;
}
