/* CONTAINER */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* must use align-items to centre the div horizontally if your flex-direction is set to column*/
  border-bottom: solid 1px #a10f31;
  padding-bottom: 15px;
}

/* Shared button Styling */
.header-btn {
  background-color: #c01f3f;
  color: white;
  font-family: inherit;
  border: solid 1px #a1a2a4;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.header-btn:hover {
  background-color: #a10f31;
}

/* TOP BAR */
.header-top {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.header-logo {
  width: 18%;
}

/* NAVBAR */
.header-navbar {
  display: flex;
}

.header-nav-btn {
  font-size: 12pt;
  width: 200px;
}
